/* Always set the map height explicitly to define the size of the div
* element that contains the map. */


#map {
	height: 80%;
	width: 100%;
	margin: 0;
	padding: 0;
}


/* Optional: Makes the sample page fill the window. */
html, body {
	
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: lightblue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
	border: solid black;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 15px;
	text-align: left;
	border: solid #405d8c;
	border-width: 4px;
	border-collapse: collapse;
	width: 20%;
	
}
th{
	background-color: #42d4f4;
	color: white;
	font-style: bold;

}
tr:hover {
	background-color: #63e3ff
}

tr:nth-child(even) {
	background-color: #daedec
}
tr:nth-child(odd) {
	background-color: #e3fcfb
}
