/* Always set the map height explicitly to define the size of the div
* element that contains the map. */


#map {
	height: 80%;
	width: 100%;
	margin: 0;
	padding: 0;
}


/* Optional: Makes the sample page fill the window. */
html, body {
	
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: lightblue;
}

table{
	border: solid black;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 15px;
	text-align: left;
	border: solid black;
	border-collapse: collapse;
	width: 25%;
	
}
th{
	background-color: #42d4f4;
	color: white;

}
tr:nth-child(even) {
	background-color: #daedec
}
